<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RPi3 - Raspberry Pi Server</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type: "text/css" href="scripts/n3-charts/build/LineChart.css">
        <link rel="stylesheet" type: "text/css" href="stylesheets/style.tabs.css">
        <script src="scripts/angular/angular.min.js"></script>
        <script type="text/javascript" src="javascripts/app.js"> </script>
        <script type="text/javascript" src="javascripts/buttonFunctions.js"></script>
        <script src="scripts/d3/d3.min.js"></script>
        <script src="scripts/n3-charts/build/LineChart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body ng-app="rpi3" ng-controller='rpi3Ctrl'>
        <div ng-if='!isLoaded0 || !isLoaded1 || !isLoaded2'>
            <p class="waiting">Hold please.....</p>
        </div>
        <div ng-if='isLoaded0 && isLoaded1 && isLoaded2'> <!-- conditional load -->
            <div class="u-full-width"> <!-- title bar -->
                <div class="title"><h1>RPi3 - Raspberry Pi Server</h1></div>
            </div><br>
            <div class='main'>
                <input id="tab1" type="radio" name="tabs" ng-click="getData()" checked>
                <label for="tab1">Temperature</label>
                <input id="tab2" type="radio" name="tabs" ng-click="getData()">
                <label for="tab2">Humidity</label>
                <input id="tab3" type="radio" name="tabs" ng-click="getData()">
                <label for="tab3">Pressure</label>
                <input id="tab4" type="radio" name="tabs" ng-click="getLoadAvg()">
                <label for="tab4">Load Avg</label>
                <input id="tab5" type="radio" name="tabs" ng-click="getNetStats()">
                <label for="tab5">Network</label>
                <input id="tab6" type="radio" name="tabs" ng-click="getDiskStats()">
                <label for="tab6">Disk</label>

                <div class='content'>
                    <div id='content1'>
                        <h3>Temperature (&#8457;)</h3>
                        <div class='graph-container'>
                            <linechart data="data0" options="options0"></linechart>
                        </div>
                    </div>
                    <div id='content2'>
                        <h3>Relative Humidity (%)</h3>
                        <div class='graph-container'>
                            <linechart data="data0" options="options1"></linechart>
                        </div> 
                     </div>
                    <div id='content3'>
                        <h3>Barometric Pressure (milliBars)</h3>
                        <div class='graph-container'>
                            <linechart data="data0" options="options2"></linechart>
                        </div>
                    </div>
                    <div id='content4'>
                        <h3>RPi3 Load Averages</h3>
                        <div class='graph-container'>
                            <linechart data="data1" options="options3"></linechart>
                        </div>
                    </div>
                    <div id='content5'>
                        <h3>Network Statistics - Bytes/15 minute Intervals</h3>
                        <div class='graph-container' id='netstats'>
                            <linechart data="data2" options="options4"></linechart>
                        </div>
                    </div>
                    <div id='content6'>
                        <h3>Disk IO Statistics - Bytes/15 minute Intervals</h3>
                        <div class='graph-container' id='diskstats'>
                            <linechart data="data3" options="options5"></linechart>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <p><h1 class="colorful2">Polaroids</h1></p>
            <div class='container'> <!-- picture div -->
                <div class='polaroid' align: 'center'>
                    <a target="_blank" href="images/rpi3-ports.png">
                        <img src="images/rpi3-ports.png" alt="Raspberry Pi">
                    </a>
                    <div class='container'>
                        <p>Raspberry Pi ports view</p>
                    </div>
                </div>
                <div class='polaroid' align: 'center'>
                    <a target="_blank" href="images/rpi3-server.png">
                        <img src="images/rpi3-server.png" alt="Raspberry Pi">
                    </a>
                    <div class='container'>
                        <p>Raspberry Pi Server</p>
                    </div>
                </div>
                <div class='polaroid' align: 'center'>
                    <a target="_blank" href="images/rpi3-sensehat.png">
                        <img src="images/rpi3-sensehat.png" alt="Raspberry Pi">
                    </a>
                    <div class='container'>
                        <p>Raspberry Pi sense hat</p>
                    </div>
                </div>
            </div>
            <div class='explanation'> <!-- server summary paragraph -->
                <p>
                This site is powered by a Raspberry Pi 3 with a sense-hat and a WD 314Gb PiDrive.
                The root file system is on the PiDrive. The boot files are on the Micro SD
                card. The Raspberry Pi 3 uses a Broadcom BCM2837 SOC, with a 1.2 GHZ quad-core ARM
                Cortex A53 (ARMv8 Instruction Set) CPU, a Broadcom VideoCore IV @ 400 MHz GPU, 
                1 GB LPDDR2-900 SDRAM. 4 USB ports, a 10/100 MBPS RJ45 Ethernet port with 802.11n
                Wireless LAN and Bluetooth 4.0. The Pi also has 40 GPIO pins, a full HDMI port, a
                combined 3.5mm audio jack and composite video, camera interface (CSI), and a display
                interface (DSI).
                </p>
            </div>
            <div class='serverinfo'>
                <div class='hostname' id='host'></div>
                <div class='information' id='kernel'>Waiting...</div>
                <div class='information' id='orientation'>Current Orientation: Waiting...</div>
                <div class='information' id='loadavg'>Server Load: Waiting...</div>
                <div class='information' id='uptime'>Uptime: waiting...</div>
                <!-- p>Execute functions on the server</p>
                <div class='btn-group'>
                    <button class="button button-shadow" onclick="doRainbow()">Rainbow</button>
                    <button class="button button-shadow" onclick="doSparkle()">Sparkle</button>
                    <button class="button button-shadow" onclick="notImplemented()">Nothin'</button>
                    <button class="button button-shadow" onclick="notImplemented()">Nope</button>
                </div -->
            </div><br>
        </div>
        <script>
        // refresh the server info every 10 seconds
        $(document).ready( function () {
            getServerInfo();
        });
        setInterval(getServerInfo, 10000);
        </script>
    </body>
</html>

